<style>
    .root {
        display: flex;
        /* align-items: center; */
        justify-content: center;


    }

    .box {
        width: 650px;
        /* height: 500px; */
        background-color: #d7d894;
        border-radius: 20px;
        margin-top: 70px;
        padding: 20px;
        /* height: 400px; */
    }

    .gap {
        margin-top: 10px;
    }

    

    .dashboard {
        /* width: 1000px; */
        height: 585px;
        background-color: #f1f2f6;
        /* border-radius: 20px; */
        /* margin-top: 70px; */
        padding: 10px;
        width: 300px;
    }

    .dgap {
        margin-top: 15px;
        width: 250px;
    }
</style>
<html>

<head>
    <title>Search Product</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/94afcec69c.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/javascripts/project.js"></script>

</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/images/product.png" width="30" height="30" class="d-inline-block align-top" alt="no image found">
            Search Product
        </a>
        <div>
            <img src="/images/<%=resulT.picture%>" style="border-radius: 16px; width: 30px;" />&nbsp;&nbsp;
            <span
                style="font-weight: bold; letter-spacing: 1.5; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size:larger;">
                <%= resulT.adminName%>
            </span>
        </div>
    </nav>
    <div class="form-row">
        <div class="form-group col-md-2" style="display: flex; align-items: center; justify-content:left; position:absolute; top: 60px;">
            <div class="dashboard">
                <div><button type="button" href="" class="btn btn-light dgap"+
                        style="font-size:16px; font-weight:bold ;">Dashboard</button></div>
                <div><a type="button" href="/home/productinterface" class="btn btn-light dgap">Add Products</a></div>
                <div><a type="button" href="/home/displayproducts" class="btn btn-light dgap">List Of Products </a>
                </div>
                <div><a type="button" href="/home/searchbyid" class="btn btn-light dgap">Serach Products</a></div>
                <div><a type="button" href="/admin/logout" class="btn btn-light dgap">Logout</a></div>
            </div>
        </div>
        <div class="form-group col-md-10" style="display: flex; justify-content:center; position: absolute; left: 170px; top: 35px;">


            <form action="/home/displaybyid" >
                <div class="root">
                    <div class="box">
                        <div class="row gap">
                            <div
                                style="padding-left: 20px; font-size: 25px; color:rgb(250, 109, 109); font-weight: bolder; letter-spacing:3px;">
                                <img src="/images/product.png" height="30px" width="30px">
                                Product Interface
                            </div>
                            <div>
                                <b><a href="/home/displayproducts" style="width: 300px; display: flex; justify-content: right; align-items: center; font-weight:650; font-size: 25;">Data List</a></b>
                            </div>
                        </div>

                        <div class="row gap">
                            <div class="col">
                                <input type="text" required name="pid" class="form-control"
                                    placeholder="product id You want to search">
                            </div>
                           
                        </div>

                      

                        <div class="row gap">
                            <div class="col" style="display: flex; align-items: center; justify-content: center;">
                                <button style="width: 150px;" type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            <div class="col" style="display: flex; align-items: center; justify-content: center;">
                                <button style="width: 150px;" type="reset" class="btn btn-primary">Reset</button>
                            </div>
                        </div>

                        <div class="row gap">
                            <div class="col" style="display: flex; align-items: center; justify-content: center;">
                                <b>
                                    <h3>
                                        <%=message %>
                                    </h3>
                                </b>
                            </div>

                        </div>
                    </div>

                </div>
            </form>






        </div>

    </div>
</body>

</html>



















<html>